<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          <li><a href="https://github.com/lfender6445/">github</li>
          <li><a href="http://stackoverflow.com/users/1426788/lfender6445">stackoverflow</a></li>
          <li><a href="https://soundcloud.com/lukefender">soundcloud</a></li>
          <li><a href="http://www.linkedin.com/in/lukefender">linkedin</a></li>
        </ul>
      <p class="rss-subscribe">subscribe <a href="/feed.xml">via RSS</a> | <a href='/about'>about</a></p>
      </div>


    </div>

  </div>

</footer>

