.grn {
  color: #FFF;
  border: 1px solid #5D910B;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #93BD20), color-stop(100%, #659E10));
  background: -webkit-linear-gradient(#93BD20, #659E10);
  background: -moz-linear-gradient(#93bd20, #659e10);
  background: -o-linear-gradient(#93bd20, #659e10);
  background: linear-gradient(#93BD20, #659E10);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), 0px 3px 7px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), 0px 3px 7px rgba(0, 0, 0, 0.7);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), 0px 3px 7px rgba(0, 0, 0, 0.7);
  background-color: #93BD20;
  padding: 10px 12px;
  margin-top: 6px;
  line-height: 14px;
  font-size: 14px;
  display: inline-block;
  text-align: center;
}
